.jaldi-regular {
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

:is(h1, h2, h3) {
    font-family: "Quicksand", serif;
    color: rgb(28, 24, 25);
    margin: 5px;
}

body {
    size: auto;
    border-radius: 25px;
    background-color: #F9E4E2;
}

p {
    font-family: "Jaldi", sans-serif;
    font-size: 18px;
    color: rgb(28, 24, 25);
    margin: 5px;
}

h1 {
    font-size: 32px;
    color: rgb(28, 24, 25);
}

button {
    background-color: #F3CACA;

    color: rgb(28, 24, 25);
    font-family: "Jaldi", sans-serif;

    border: none;
    border-radius: 10px;

    padding: 5px 15px;
}

button:hover {
    background-color: #eea1aa;
}

input {
    color: #F9E4E2;
    font-family: "Jaldi", sans-serif;
    font-size: 12pt;
}

input.text-input::placeholder {
    color: #ffdbe3;
    font-family: "Jaldi", sans-serif;
    font-size: 12pt;
}

input[type=text] {
    border: none;
    border-radius: 10px;

    padding: 10px 5px;
    width: 97%;
    margin: 10px;

    background-color: #eea1aa;
}

input.text-input:focus {
    border: 2px rgb(28, 24, 25);
    outline: none;
}

input[type=checkbox] {
    outline: none;
}

.parentFB {
    display: flex;
    align-items: left;
    height: 100vh;
    margin: 10px;
}

.sortOption {
    border: none;
    background-color: #F3CACA;

    width: 90%;
    height: 90%;
    margin: 5px;

    font-family: "Jaldi", sans-serif;
    font-size: 24pt;

    /* handle text wrapping */
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    max-width: 100%;
}

.listItem {
    font-family: "Jaldi", sans-serif;
    font-size: 12pt;
    color: rgb(28, 24, 25);

    background-color: #F3CACA;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.startButtons {
    display: block;
    margin: 0 auto 10;
    padding: 10px;
    width: 90%;
}

#todoLabel {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    display: block;
    max-width: 100%;
}

/* TODO:
- style the scrollbar 
*/